{% extends "base_app.html" %}
{% block content %}
<h1>Change password</h1>
<div class="card">
  <form method="post">
    <label for="current_password">Current password</label>
    <input type="password" id="current_password" name="current_password" required autocomplete="current-password">
    <label for="new_password">New password</label>
    <input type="password" id="new_password" name="new_password" required minlength="8" autocomplete="new-password">
    <label for="new_password2">Confirm new password</label>
    <input type="password" id="new_password2" name="new_password2" required minlength="8" autocomplete="new-password">
    <button class="primary" type="submit">Update password</button>
  </form>
</div>
{% endblock %}
